<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.banyuan.blog.mapper.RoleMapper">
  <select id="getRolesByUid" parameterType="long" resultType="club.banyuan.blog.entity.RoleEntity">
        select r.id, r.name
        from roles r, roles_user ru
        where r.id = ru.rid and ru.uid = #{uid}
    </select>
</mapper>
