<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.banyuan.blog.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="club.banyuan.blog.mapper.UserMapper">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
    <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
    <result column="enabled" jdbcType="INTEGER" property="enabled"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="userface" jdbcType="VARCHAR" property="userface"/>
    <result column="regTime" jdbcType="TIMESTAMP" property="regTime"/>
    <collection property="roles" ofType="club.banyuan.blog.entity.RoleEntity">
      <id column="rid" property="id"/>
      <result column="rname" property="name"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, username, nickname, enabled, email, userface, regTime
  </sql>
  <select id="getUserByUsername" resultType="club.banyuan.blog.entity.UserEntity">
    select id,username,nickname,password,enabled from user where username=#{username}
  </select>

  <select id="getUserById" resultType="club.banyuan.blog.entity.UserEntity">
    select <include refid="Base_Column_List"></include>from USER where id = #{id}
  </select>

  <update id="updateUserEmail">
    update user set email = #{email} where id = #{id}
  </update>
</mapper>